<div class="page-wrap">
<h1>Editing Image Gallery</h1>

<%= render 'form' %>

<%= link_to 'Show', @image_gallery %> |
<%= link_to 'Back', image_galleries_path %>
</div>
<footer class="footer-artist">
				<div class="container">
					<div class="asides clearfix">
						<aside class="logo">
						</aside>
					</div>
					<div class="copyright">
						<small>2015 Cajon Project</small>
						<div class="footer-icons">
							<a href='http://www.facebook.com'><%= image_tag 'Icono_Face.png', alt: 'Facebook logo', :class => "logo_footer"%></a>
							<a href='http://www.instagram.com'><%= image_tag 'Icono_Insta.png', alt: 'Instagram logo', :class => "logo_footer"%></a>
							<a href='http://twitter.com'><%= image_tag 'Icono_Twit.png', alt: 'Twitter logo', :class => "logo_footer"%></a>
						</div>
					</div>
				</div>
</footer> 