<p id="notice"><%= notice %></p>


  <div class="page-wrap">
  <div class="galleria">
	  <% @image_gallery.picture.each do |pic| %>
	  	<img src="<%= pic.url %>">
	  <% end %>
  </div>

<script>Galleria.loadTheme('../galleria/themes/classic/galleria.classic.min.js');
 Galleria.run('.galleria');
</script>
</div>
<%#= link_to 'Back', image_galleries_path %>
<footer class="footer-artist">
				<div class="container">
					<div class="asides clearfix">
						<aside class="logo">
						</aside>
					</div>
					<div class="copyright">
						<small>2015 Cajon Project</small>
						<div class="footer-icons">
							<a href='http://www.facebook.com'><%= image_tag 'Icono_Face.png', alt: 'Facebook logo', :class => "logo_footer"%></a>
							<a href='http://www.instagram.com'><%= image_tag 'Icono_Insta.png', alt: 'Instagram logo', :class => "logo_footer"%></a>
							<a href='http://twitter.com'><%= image_tag 'Icono_Twit.png', alt: 'Twitter logo', :class => "logo_footer"%></a>
						</div>
					</div>
				</div>
</footer> 