
<section class="user_form">
<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
<% end %>
<div class="form">
<%= form_for @user,html: { multipart: true } do |f| %>

  <div class="field">
    <%= f.label :first_name,class: "user_titles" %><br />
    <%= f.text_field :first_name, autofocus: true,class: "user_input" %>
  </div>
  <div class="field">
    <%= f.label :last_name,class: "user_titles" %><br />
    <%= f.text_field :last_name, autofocus: true, class: "user_input" %>
  </div>
  <div class="field">
    <%= f.label :email,class: "user_titles" %><br />
    <%= f.email_field :email, autofocus: true,  class: "user_input" %>
  </div>


  <div class="field">
    <%= f.label :password,class: "user_titles" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",  class: "user_input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "user_titles" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "user_input" %>
  </div>
  
  <div class="field">
    <%= f.label :image, class: "user_titles" %><br>
    <%= f.file_field :image, class: "user_file" %>
  </div>

  <div class="field">
    <%= f.label :description, class: "user_titles" %><br/>
    <%= f.text_area :users_description, autofocus: true,class: "text_area_user" %>
  </div>
  <p class="message_container"></p>
 <%= f.file_field :video %>
  <button class="submit-new-user" type='submit'>Submit</button>
   
<% end %>
</div>

</section>



