<div class="form_new_user_margin page-wrap">


	<h4 class="user_title">Create New user:</h4>

	<%= render 'form' %>
	<!-- </div> -->

	<%= link_to 'Back',  users_path,class: "back margin-back-user" %>
 
</div>


<footer class="footer-artist site-footer">
				<div class="container">
					<div class="asides clearfix">
						<aside class="logo">
						</aside>
					</div>
					<div class="copyright">
						<small>2015 Cajon Project</small>
						<div class="footer-icons">
							<a href='http://www.facebook.com'><%= image_tag 'Icono_Face.png', alt: 'Facebook logo', :class => "logo_footer"%></a>
							<a href='http://www.instagram.com'><%= image_tag 'Icono_Insta.png', alt: 'Instagram logo', :class => "logo_footer"%></a>
							<a href='http://twitter.com'><%= image_tag 'Icono_Twit.png', alt: 'Twitter logo', :class => "logo_footer"%></a>
						</div>
					</div>
				</div>
</footer> 

