
<div class="new_user_background page-wrap"></div>
<div class="user_description">
	<!-- <h1><%#= @user.first_name+' '+@user.last_name%></h1> -->
	<td ><%= image_tag @user.image_url(:thumb),class:"image_artist",class: "padding_image" %></td>
	<h1><%= @user.first_name+' '+@user.last_name%></h1><br>

	
	<p class="user_info user_email">Contact email:<strong class="user_email"><%=@user.email%></strong></p>
	<strong class="user_info"><%=@user.users_description%></strong><br><br>
	</div>

	<div class="align_center_edition">

		
	<div class="list_back">
		<a href='/users/<%=@user.id%>/posts'>List of posts |</a>
		<a href='/users'>Back</a>
		<%if current_user.present? && current_user.id==@user.id && !current_user.admin%>
		<span><a class="new_user_post" href='/users/<%=@user.id%>/posts/new'>| Create new post</a></span>
    <% end %>
	</div>
	</div>
	<% if @user.video.present?%>
	<p class="artist_video_tag">Artist video:</p>
	<%#= video_tag(@user.video.url) %>
		<%= video_tag @user.video.url(:medium), controls: true, style: "max-width: 100%;",class: "artist_video" %>
	<% end %>
<footer class="footer-artist ">
				<div class="container">
					<div class="asides clearfix">
						<aside class="logo">
						</aside>
					</div>
					<div class="copyright">
						<small>2015 Cajon Project</small>
						<div class="footer-icons">
							<a href='http://www.facebook.com'><%= image_tag 'Icono_Face.png', alt: 'Facebook logo', :class => "logo_footer"%></a>
							<a href='http://www.instagram.com'><%= image_tag 'Icono_Insta.png', alt: 'Instagram logo', :class => "logo_footer"%></a>
							<a href='http://twitter.com'><%= image_tag 'Icono_Twit.png', alt: 'Twitter logo', :class => "logo_footer"%></a>
						</div>
					</div>
				</div>
</footer> 