
<!-- <p id="notice"><%#= notice %></p> -->

<!-- <main class="main"> -->

<section class="events-page">

 <div class=" input-append events_background"></div>

  <div class="input-form">
    <%= form_tag '/events', :method => 'get',class: "navbar-form search-event" do %>
      <%= text_field_tag :search_event, params[:search_event ], class: "span2", placeholder: "Search by Title" %>
      <%= text_field_tag :search_location, params[:search_location], class: "location", placeholder: "Search by Location" %>
      <%#= text_field_tag :search_date, params[:search_date], class: "span2", placeholder: "Search by Date" %>
      <select class="input-append drop_down" name="drop_date"style="color:#ADADAD">
        <option value="All dates" selected="selected">Search by date</option>
          <%if current_user.present? && current_user.admin?%>
        <option value="Past events">Past Events</option>
        <% end %>
        <option value="Today">Today</option>
        <option value="Tomorrow">Tomorrow</option>
        <option value="This week">This week</option>
        <option value="This month">This month</option>
      </select>
      <button class="btn btn-event" type="submit">SEARCH</button>
    <% end %>
 </div>
 <div class="bar bar_event"></div>
<div class="event-list">
<!-- <h4>Listing Events</h4> -->
 <% if @events.present?%>
 
        <div class="list-event row">
  <% if current_user.present? and current_user.admin? %>
   <%= link_to 'Add Event', new_event_path %>
  <% end %>
<!-- <spam><%#= link_to 'Back',events_path %></spam> -->
<br>
         <% @events.each do |event| %>
          <div class="col-md-4 event">
            <a href="/events/<%=event.id%>"><p class="event-top" style="color:rgb(77,77,77)"><%=event.event_type%></p>
            <img src='<%= event.image_url(:event_image)%>'>
          <spam style="color:rgb(77,77,77)"><%=event.start_date %></spam><br>
          <spam class="event-title" style="color:rgb(77,77,77)"><%= event.title%></spam><br>
          <spam style="color:rgb(77,77,77)"><%= event.location %></spam></a><br>
            
          <% if current_user.present? and current_user.admin? %>
          <div class="link-admin">
           <spam style="color:rgb(77,77,77)"><%= link_to 'Edit', edit_event_path(event) %></spam>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %><br>
          </div>
          <% end %>
          </div>
      <% end %>
<br>
    <% else%>
      <p class="no-event">Sorry, there are no events.</p><br>
        <!-- Only admin can modify, destroy and create events. -->
         <% if current_user.present? and current_user.admin? %>
          <%= link_to 'Add Event', new_event_path,class: "add_event" %>
        <% end %>
    <% end %>
    <br>
  </div>
</section>
</main>



  
