
<!-- <h1>New Event</h1> -->
<div class="page-wrap">
<p class="new_event_title">Create new event</p>
<%= render 'form' %>

<div class="background_color_event">
<%= link_to 'Back', events_path, class: "back" %>
</div>
</div>
<footer class="footer-artist">
				<div class="container">
					<div class="asides clearfix">
						<aside class="logo">
						</aside>
					</div>
					<div class="copyright">
						<small>2015 Cajon Project</small>
						<div class="footer-icons">
							<a href='http://www.facebook.com'><%= image_tag 'Icono_Face.png', alt: 'Facebook logo', :class => "logo_footer"%></a>
							<a href='http://www.instagram.com'><%= image_tag 'Icono_Insta.png', alt: 'Instagram logo', :class => "logo_footer"%></a>
							<a href='http://twitter.com'><%= image_tag 'Icono_Twit.png', alt: 'Twitter logo', :class => "logo_footer"%></a>
						</div>
					</div>
				</div>
</footer> 