<section class="event_detail_background"></section>
<section>
<div class="post_show">
  <!-- <strong>Title:</strong> -->
 <p class="event_title"><%= @event.title %></p>

<!-- <p class="image_post">
 <img src='<%= @event.image_url(:small) %>'>
</p> -->

<div class="event_image">
  <div class="row">
    <div class="span4">
      <img style="float:left" src='<%= @event.image_url(:small) %>'/>
      <div class="content-heading"><h5><%= @event.start_date %>/ <%= @event.ends_date %> </h5></div>
    <div> <%= @event.location %></div><br>
     <div><p class="max-width-desc"><%= @event.description %></p></div><br>
     <strong>Organizer:</strong><%= @event.organizer_name %>
    </div>
  </div>
</div>
</div>


  <% if current_user.present? and current_user.admin? %>
    <p><%= link_to 'Edit', edit_event_path(@event),class: "back inline" %></p>
  <% end %>
<p><%= link_to 'Back', events_path,class: "back inline" %></p>

</section>
