<main>
<!-- Section1 -->
<section class="module parallax parallax-1">
	<!-- <div class="container"> -->
	<div class='homepage_image'>
		<%= image_tag 'Logo1.png', alt: 'logo',:class => "logo_big"%>
	</div>
</section>
<!-- Section 2 -->
<section class="module content">
	<div class="container overlap">
		
		<div class="container-fluid">
			<!-- <ul class="nav navbar-nav home-images"> -->
			<div class="col-sm-4 padding-footer"><a href=""><%= image_tag '11.jpg', alt: 'logo',:class => "image_small_home"%></a>
			<p class="title">ETIAM FAUCIBUS</p>
			<p class="text-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus.</p></div>
			<div class="col-sm-4 padding-footer"><a href=""><%= image_tag '9.jpg', alt: 'logo',:class => "image_small_home"%></a>
			<p class=" title">ETIAM FAUCIBUS</p>
			<p class="text-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus.</p></div>
			<div class="col-sm-4 padding-footer"><a href=""><%= image_tag '3.jpg', alt: 'logo',:class => "image_small_home"%></a>
			<p class=" title">ETIAM FAUCIBUS</p>
			<p class="text-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus.</p>
		</div>
	</div>
</div>
<div class="black_bar"></div>
</section>
</main>
<!-- analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34160351-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<footer class="footer-artist">
				<div class="container">
					<div class="asides clearfix">
						<aside class="logo">
						</aside>
					</div>
					<div class="copyright">
						<small>2015 Cajon Project</small>
						<div class="footer-icons">
							<a href='http://www.facebook.com'><%= image_tag 'Icono_Face.png', alt: 'Facebook logo', :class => "logo_footer"%></a>
							<a href='http://www.instagram.com'><%= image_tag 'Icono_Insta.png', alt: 'Instagram logo', :class => "logo_footer"%></a>
							<a href='http://twitter.com'><%= image_tag 'Icono_Twit.png', alt: 'Twitter logo', :class => "logo_footer"%></a>
						</div>
					</div>
				</div>
</footer> 