<div class="page-wrap">
<div class="background"></div>
<div class="sign_form">
<h2 class="log_in">Log in</h2>
<!-- To Add an alert when incorrect user or password -->
 <% if flash[:alert] %>
          <p class="alert"><%= flash[:alert] %></p>
 <% end %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email,:class => "email_field" %><br />
    <%= f.email_field :email, autofocus: true,:class =>"log_input" %>
  </div>

  <div class="field">
    <%= f.label :password,:class => "email_field" %><br />
    <%= f.password_field :password, autocomplete: "off", :class =>"log_input"%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
 

<p class="password"><%= render "devise/shared/links" %></p>
</div>
</div>
<footer class="footer-artist">
        <div class="container">
          <div class="asides clearfix">
            <aside class="logo">
            </aside>
          </div>
          <div class="copyright">
            <small>2015 Cajon Project</small>
            <div class="footer-icons">
              <a href='http://www.facebook.com'><%= image_tag 'Icono_Face.png', alt: 'Facebook logo', :class => "logo_footer"%></a>
              <a href='http://www.instagram.com'><%= image_tag 'Icono_Insta.png', alt: 'Instagram logo', :class => "logo_footer"%></a>
              <a href='http://twitter.com'><%= image_tag 'Icono_Twit.png', alt: 'Twitter logo', :class => "logo_footer"%></a>
            </div>
          </div>
        </div>
</footer> 