<section class="post_background"></section>	
<!-- <section class="list_posts"> -->
<div class="searcher">
<%= form_tag '/posts', :method => 'get',class: "navbar-form" do %>
	<div class="input-append post_input">
    <%= text_field_tag :search_title, params[:search_title ], class: "post", placeholder: "Search Posts by Title" %>
    <%= text_field_tag :search, params[:search], class: "post", placeholder: "Search Post by Author" %>
    <button class="btn btn-post" type="submit"><i class="icon-search">Search</i></button>
  </div>
<% end %>
<div class="bar"></div>
<!-- <section class="post_list"> -->
<div class="top_list">
<%if @posts_title.present?%>
<h4 class="post-title">
<div class="row padding_posts">
	<% @posts_title.each do |post| %>
	<div class="col-md-6 the_post style=text-align:center">
	  <!-- <div class="post"> -->
	    Post title: <%= link_to post.title, post,class: 'title_cap' %>
		<%if post.user%> 
	    <spam><p class="post-author">Author:<%=  post.user.first_name+' '+post.user.last_name%></p></spam>
	  <% end %>
	  <%if current_user.present? && current_user.admin?%>
		<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure you want to remove post?' } %>
		<% end%>
	  <!-- </div> -->
	  </div>
	   <% end %>
	   </div>
	  </h4>
	<%# end %>

<% else%>
	<p class="no-event">No post available.</p>
<% end %>
</div>
<!-- </section> -->


