<div class="page-wrap">
<div class="post_list"></div>    
<div class="list-posts style= margin-left: 550px
    padding-top: 120px">

<!-- <p id="notice"><%= notice %></p> -->
  <h1 class="listing_posts">Listing Posts</h1>
   <!-- If there are posts created, show the posts -->

  <% if @posts.present? %>
    <!-- <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <th>Author</th>
          <!-- <th>Content</th> -->
         <!--  <th colspan="3"></th>
        </tr>
      </thead> -->

      <!-- <tbody> --> 
        <div class=" row list_posts">
        <% count=0%>
          <% @posts.each do |post| %>
          <!-- <tr> -->
            <div class="margin"><a href='/posts/<%=post.id%>'><%=count+=1%>.<%= post.title %></a></div><br>
            <!-- <span><img src='<%#= post.image_url(:thumb) %>'></span><br> -->
            <!-- <td><%#= @user.first_name+@user.last_name %></td> -->
            <!-- <td><%#= post.content %></td> -->
           <!--  <%#if current_user.present? && current_user.admin?%>
              <!<td><%#= link_to 'Show', user_post_path(@user, post)%></td> -->
              <!-- <td><%#= link_to 'Edit', edit_user_post_path(@user, post) %></td> -->
              <!-- <td><%#= link_to 'Destroy', [@user, post], { data: { confirm: 'Are you sure?' }, method: :delete} %></td> -->
          <%# end%> 
         
           <!-- </tr> -->
        <% end %>
      </div>
      <!-- </tbody> -->
    <!-- </table> -->

  <% else %>
      <h4 class="center_message">This artist does not have any post available.</h4>
  <% end%>
  <!-- <br> -->
   <%#= link_to 'Back', user_path(@user) %>
</div>
</div>
<!-- <a href='/users/<%#=@user.id%>'>Back</a> -->
<footer class="footer-artist">
        <div class="container">
          <div class="asides clearfix">
            <aside class="logo">
            </aside>
          </div>
          <div class="copyright">
            <small>2015 Cajon Project</small>
            <div class="footer-icons">
              <a href='http://www.facebook.com'><%= image_tag 'Icono_Face.png', alt: 'Facebook logo', :class => "logo_footer"%></a>
              <a href='http://www.instagram.com'><%= image_tag 'Icono_Insta.png', alt: 'Instagram logo', :class => "logo_footer"%></a>
              <a href='http://twitter.com'><%= image_tag 'Icono_Twit.png', alt: 'Twitter logo', :class => "logo_footer"%></a>
            </div>
          </div>
        </div>
</footer> 
