<div class="background_show_comments"></div>
	<div class="posts_comments">
	
	
	  <!-- <strong>Image:</strong> -->
	 <img class="image_post" style="float:left"src='<%= @post.image_url(:thumb) %>'>

 	<div class="rest_of_post">
	  <!-- <strong>Title:</strong> -->
	  <spam ><h2 class="title_post"><%= @post.title %></h2></spam>


	<p>
	  <strong>Author:</strong>
	  <%= @post.user.first_name+ ' '+ @post.user.last_name%> 
	</p>
	<p>
	  <strong>Created:</strong>
	  <%= @post.created_at%> 
	</p>

	<p class="content_padding">
	  <%= @post.content %>
	</p>
	</div>
	<!-- Show on same page the comment added by the public. -->
	
	<%if @post.comments.present?%>
	<!-- <div class="comments"> -->
		<h4>Comments:</h4>
		<% @post.comments.each do |comment| %>
		<strong>Comment added:</strong><%= ' '+ time_ago_in_words(comment.created_at) %><spam> ago</spam><br>
 		<strong>Name:</strong><spam class="commenter_capital"><strong><%= ' '+ comment.commenter %></strong></spam><br>
   		<spam ><%= comment.body %></spam><br><br>
   		<!-- </div> -->

  <% end%>
	<% else%>
	<br>
		<p class="message_padding">There are no comments. Be the first to comment this post.</p>
	<% end %>
   
  
<!--The form_for call here uses an array -->
	
	<h5 >Add a comment:</h5>
		<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :Comment %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<!-- Only logged user(artist) and the owner of the post can modify the posts. The admin can't modify it-->
<!-- Admin can delete posts only -->
<% if current_user.present? && current_user.id==@post.user.id %>
	<%= link_to 'Edit', edit_post_path(@post) %>|
<% end %>

<%= link_to 'Back', posts_path %>
</spam>
</div>